
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <canvas id="kiralananaraclarinkm"></canvas>
    <br />
    <br />

    <canvas id="myChart"></canvas>
    <br />
    <br />

    <canvas id="gelirchart"></canvas>
    <br />
    <br />
    <canvas id="gunlukkmasanarac"></canvas>
</div>

